*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    
    
}
.title h1{
    
    margin-top: 0px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 10%);
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
    
}
.sub-title {
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
.sub-title a{
    text-decoration: none;
    cursor: pointer;
    
}
.sub-title a:hover{
    text-decoration: underline;
}
.sub-title p{
    gap: 10px;
    padding: 5px;
    margin-top: 0px;
    padding-top: 0px;
}
.toggle{
    color: hsl(0, 0%, 50%);
    font-size: 20px;
    display: none;
}
.mobile-phone{
    background-color: hsla(240, 100%, 10%);
    top: 0;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    position: fixed;
    left: -60%;
    transition: 1s;
}

.home{
    text-decoration: none;
    cursor: pointer;
}
.home:hover{
    text-decoration: underline;
}
.mobile-phone div{
    margin-top: 50px;

}
#cancel-toggle{
    display: flex;
    justify-content: end;
    padding: 5px;
    font-size: 20px;
}

.product-section{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    
   
}

.input ::placeholder{
   background-color: hsl(0, 0%, 40%);
}

.input{
    width: 50%;
     padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    
    
}

.product{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
     gap: 10px;
}

@media screen and (max-width:600px) {
     .toggle{
         display: block;
     }
     .sub-title{
        display: none;
     }
     .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
     gap: 10px;
}
    }